/*

!/.firebase
!/.github
!/public
!/src
!/.firebaserc
!/.gitignore
!/babel.config.js
!/firebase.json
!/firestore.indexes.json
!/firestore.rules
!/package.json
!/README.md
!/yarn.lock

/src/firebase.js
